<ion-content class="login-content">

  <div class="login-container">
    <ion-card class="login-card">

      <!-- Header con botón de regresar -->
      <ion-card-header>
        <ion-button fill="clear" color="dark" routerLink="/login" class="back-btn">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-card-title>Register</ion-card-title>
        <ion-card-subtitle>Create your account!</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <!-- Nombre -->
        <ion-item class="custom-input">
          <ion-input placeholder="Nombre" [(ngModel)]="name"></ion-input>
        </ion-item>

        <!-- Apellido -->
        <ion-item class="custom-input">
          <ion-input placeholder="Apellido" [(ngModel)]="lastName"></ion-input>
        </ion-item>

        <!-- Tipo de documento -->
        <ion-item class="custom-input">
          <ion-select placeholder="Tipo de Documento" [(ngModel)]="documentType">
            <ion-select-option value="CC">Cédula</ion-select-option>
            <ion-select-option value="TI">Tarjeta de Identidad</ion-select-option>
            <ion-select-option value="CE">Cédula de Extranjería</ion-select-option>
            <ion-select-option value="PAS">Pasaporte</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Número de documento -->
        <ion-item class="custom-input">
          <ion-input placeholder="Número de Documento" [(ngModel)]="documentNumber"></ion-input>
        </ion-item>

        <!-- Departamento -->
        <ion-item class="custom-input">
          <ion-select placeholder="Departamento" [(ngModel)]="country">
            <ion-select-option *ngFor="let dep of departments" [value]="dep.name">
              {{ dep.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Email -->
        <ion-item class="custom-input">
          <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <!-- Password -->
        <ion-item class="custom-input">
          <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <!-- Botón registrar -->
        <ion-button expand="block" class="register-btn" (click)="register()">
          REGISTER
        </ion-button>

        <!-- Link login -->
        <div class="login-link">
          <span>I have an account?</span>
          <a routerLink="/login">Log in</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
