/* App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally.
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Dark Mode */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Fondo oscuro elegante */
.auth-content {
  --background: #0f172a;
}

/* Contenedor centrado */
.auth-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Card principal (solo para login/perfil, no para tarjetas de wallet) */
.auth-card {
  width: 100%;
  max-width: 380px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  background: #ffffff;
}

/* Títulos */
ion-card-title {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #0f172a;
}

ion-card-subtitle {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin-top: 4px;
}

/* Inputs */
.custom-input {
  margin-top: 12px;
  --background: #f5f7fb;
  border-radius: 12px;
  padding-left: 10px;
}

ion-input, ion-select {
  font-size: 14px;
}

/* Botones */
.auth-btn {
  margin-top: 20px;
  --background: #22c55e;
  --border-radius: 12px;
  font-weight: bold;
  color: #fff;
}

.google-btn {
  --background: white;
  color: black;
  border: 1px solid #ddd;
  --border-radius: 12px;
  font-weight: bold;
}

.biometric-btn {
  --background: transparent;
  --box-shadow: none;
  color: #000;
  font-weight: bold;
  text-transform: none;
  margin-top: 12px;

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}

/* Links */
.auth-link {
  text-align: center;
  margin-top: 15px;

  a {
    color: #22c55e;
    font-weight: bold;
    text-decoration: none;
  }
}
